body {
    background-color: #fffbf7;
  }
  
  h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  .header{
    margin: 40px 20px 0;
    font-size: 10px;
    font-family: sans-serif;
  }
    
  .logo {
    width: 5%;
  }
  .logo > img {
    width: 70%;
  }
  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 5px;
    height: 100%;
    vertical-align: middle;
  }
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
  }
  li {
    display: inline;
    margin: 0 25px 0;
  }
  .actions {
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
  .actions > * {
    margin: 0 10px;
  }
  .actions a {
    color: #67b54b;
    text-decoration: none;
  }
  .actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
  }
  .main {
    margin-top: 140px;
    text-align: center;
  }
  .banner img{
    width: 30%;
  }
  .intro img{
    width: 70%;
  }